/* ------------------------公共样式类 -----------------------*/
html,
body {
  height: 100%;
  font-size: 62.5%;
  background: url('../img/bg.png') no-repeat;
  background-size: cover;
  font-family: 'Microsoft YaHei';
}
.justify-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
}
.vertical-align {
  display: flex;
  align-items: center;
}
.no-gutters {
  padding: 0;
}
.margin-clear {
  margin-left: 0;
  margin-right: 0;
}
#main {
  height: 100%;
}